<h1>Product Reviews</h1>
<p>
<%= pluralize(@product.reviews.count, "review") %> for <%= @product.name %>
</p>

<p>
	<% @product.reviews.each do |review| %>
		<div class="review">
		<em>Posted by: <%= review.user.name %></em>
		<p>
			<%= review.comment %>
		</p>
		</div>
	<% end %>
</p>